@model FMF.Toetscie.Models.Degree

@{
    ViewData["Title"] = Model.Name;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active">@Model.Name</li>
    </ol>
</nav>

<div>
    <h1 class="display-4">@Model.Name</h1>

    <h2>Courses</h2>
    <ul class="list-group">
        @foreach (var course in Model.Courses)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/@course.Route">@course.Name</a>
            </li>
        }
    </ul>
</div>
