@model ICollection<FMF.Toetscie.Models.Degree>

@{
    ViewData["Title"] = "Home";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
</nav>

<div>
    <h1 class="display-4">Toetscie</h1>

    <h2>Degrees</h2>
    <ul class="list-group">
        @foreach (var degree in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/@degree.Route">@degree.Name</a>
            </li>
        }
    </ul>
</div>
